/*zajecia: 06.10.17*/

.textfoot, .leftlist, .rightlist {
  padding-top: 0;
  margin-top: 0;
}

*{
  font-family: Lato,Helvetica,Arial,sans-serif;
}

.page-kamil {
  padding: 10px 20px;
}
.nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 25px;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: transparent;
  width: calc(100%vw-20px);
}
.navigation{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.hamburger {
  display: flex;
  flex:1;
  justify-content: flex-start;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border: 0;
  border-top: 5px solid #ffffff;
  background: transparent;
  position: absolute;
  transition: 0.3s transform linear;
  z-index: 6;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #ffffff;
  transform: translateY(10px);
}

.hamburger::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}

.hamburger:focus {
  transform: rotate(45deg) translateY(5px);
  border: none;
}
.hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
}

.logo{
  display: flex;
    justify-content: space-between;
}
.logo img{
justify-content: center;
display: flex;

}
.lang{
  display: flex;
  flex: 1;
  justify-content: space-between;
}

h3{
  display: flex;
  flex:1;
  justify-content: flex-end;
  color: white;
  font-size: 15px;
  vertical-align: middle;
}

.section__hemma{
  padding: 10px 0;
  height: calc(100vh - 40px);
  display: flex;
  position: relative;
  -webkit-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
  -moz-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
  box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
  background-image: url('./house.jpg');
  background-size: cover;
  background-position: 100%;
}
.headup{
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.title {
  font-size: 45px;
  color:white;
  margin-bottom: -20px;
  font-family: "Playfair Display",Georgia,serif;

}
.subtitle{
  font-size: 30px;
  font-style: italic;
  color: white;
  letter-spacing: -2px;
  font-family: "Playfair Display",Georgia,serif;
}
.headingup{
  text-align: center;
}
.section__discover {
  padding: 10px 0;
  height: calc(100vh - 40px);
  display: flex;
  -webkit-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
 -moz-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
 box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
}

.split {
  flex: 1;
}

.split-left {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.section-header {
  font-size: 45px;
  margin-bottom: -20px;
  font-family: "Playfair Display",Georgia,serif;

}
.subheading {
  font-size: 30px;
  font-style: italic;
  color: rgb(184, 184, 184);
  letter-spacing: -2px;
  font-family: "Playfair Display",Georgia,serif;
}

input[type=submit]{
    width: 90px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: rgb(88, 159, 100);
    color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 13px 0px;
    cursor: pointer;
    letter-spacing: 1px;
}

.split-right {
  background-image: url('./image2.jpg');
  background-size: cover;
  background-position: 50%;
}

.section__news{
padding: 10px 0;
height: calc(50vh - 40px);
display: flex;
-webkit-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
-moz-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
}
.split2{
  width: 25%;
}
.split-one{
  display: flex;
  align-items: center;
  padding-left: 50px;

}

.section-news{
  font-size: 45px;
  margin-bottom: -20px;
  font-family: "Playfair Display",Georgia,serif;
}

.subheadingnews{
  font-size: 20px;
  font-style: italic;
  color: rgb(184, 184, 184);
  font-family: "Playfair Display",Georgia,serif;
}
.split2:hover{
  background-color: rgb(70, 61, 69);
  transition: 0.5s ease-in-out;
}

.heading{
  text-align: center;
}

.section__footer{
  padding: 10px 0;
  height: calc(50vh - 40px);
  display: flex;
  -webkit-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
 -moz-box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
 box-shadow: 1px 4px 34px -1px rgba(99,82,99,0.96);
}

.left-footer{

    display: flex;
    align-items: center;
    width: 50%;
}
.right-footer{

    display: flex;
    align-items: center;

}
.textfoot {
  color: black;
  font-family: Lato,Helvetica,Arial,sans-serif;
  float: left;
  margin:10px 5px 5px 0;
  font-size: 15px;
  /*padding: 10px 40px 10px 10px;*/
  text-align: justify;
  letter-spacing: 1px;
  line-height: 25px;
}
.textfoot img{
  float: left;
  max-width: 100%;
  margin-right: 20px;
  margin-bottom: 10px;
}
ul{
  list-style-type: none;
  text-align: left;
}
ul > li > ul{
  margin-top: 32px;
}

.News{
  float: left;
  color: black;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 25px;
}
.Menu{
  float: left;
  color: black;
  max-width: 25%;
  padding: 10px;
  /*margin: 0px 100px 5px 25px;*/
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 25px;
}

.left-footer, .right-footer{
  padding:20px;
}

/* TODO: poczytać o background, background size, background position */
